/* MAIN CONTAINER */
/* ===================================== */
.empty-view {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.empty-view {
	text-align: center;
}
.empty-view img {
	height: 70px;
	margin: 1.3em 0;
}

/* MAIN CONTAINER */
/* ===================================== */
.ranking-card {
	border: solid 1px #e0e0e0;
	border-radius: 2px;
	width: 100%;
	margin-bottom: 12px;
}
.ranking-card > div {
	padding: 10px 15px;
}
.ranking-card > hr {
	margin: 0;
	width: 100%;
	border: none;
	height: 1px;
	background: #e0e0e0;
}

/* CARD HEADER */
/* ===================================== */
.ranking-card-header,
.ranking-card-header > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 0.9em;
}

.ranking-tile {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #00d5ce;
	color: white;
	border-radius: 2px;
	font-weight: bold;
}

.card-title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 7px;
	text-transform: capitalize;
}
.card-title > div {
	font-weight: bold;
}
.card-title > span,
.gender-distribution span {
	color: grey;
	font-size: 0.7em;
	padding-top: 4px;
}

.percentage-stat {
	font-size: 0.85em;
	padding: 0 5px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* BREEDS HISTOGRAM */
/* ===================================== */
.breeds-container .title {
	margin: 0 0 7px 0;
	font-weight: bold;
	font-size: 0.7em;
}

.breeds-grid {
	grid-row-gap: 12px;
	grid-column-gap: 5px;
	font-size: 0.6em;
	display: grid;
	grid-template-columns: 3fr 6fr 1fr;
}
.breeds-grid .bar-container {
	display: flex;
	align-items: center;
	padding-left: 4px;
}
.breeds-grid :nth-child(3n) {
	display: flex;
	justify-content: flex-end;
}

.display-bar {
	height: 3px;
	border-radius: 3px;
	background: #00d5ce;
}
