#search {
	border: solid 1px #dddddd;
	width: 100%;
	display: grid;
	grid-template-columns: 25px auto;
	padding: 0.3em 0.5em;
	border-radius: 1.2em;
	margin: 1.2em 0;
	box-sizing: border-box;
}

#search > .icon {
	color: #2a2a2a;
	display: flex;
	justify-content: center;
	align-items: center;
}

#search > input {
	outline: none;
	border: none;
	padding-left: 7px;
	font-size: 0.9em;
}
