@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import './ranking-card.css';
@import './search.css';

/* 
	COLORS :
		- LIGHT 		: #FFFFFF
		- OFF LIGHT 	: #E0E0E0
		- DARK 			: #2A2A2A
		- OFF DARK 		: #989898
		- PRIMARY 		: #00D5CE
*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

#app {
	box-sizing: border-box;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
	width: 100vw;
	margin-left: auto;
	margin-right: auto;
}

#title {
	font-size: 18px;
}

#list-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#list-container .loader {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 200px;
	justify-content: center;
}

#list-container .loader img {
	height: 80px;
	width: 90px;
}

.clickable {
	cursor: pointer;
}

.close-filter-btn {
	position: fixed;
	z-index: 999;
	right: 1em;
	bottom: 1em;
	border-radius: 100%;
	height: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: cennter;
}

.hidden {
	display: none;
}

@media only screen and (min-width: 700px) {
	body {
		font-size: 1.3em;
	}

	#app {
		max-width: 600px;
	}
}

@media only screen and (min-width: 1100px) {
	body {
		font-size: 1.7em;
	}
	#app {
		max-width: 700px;
	}
}
